netsquid_nv/
docs/
examples/
tests/
__pycache__/
*.pyc
*.egg-info
.pytest_cache/
CHANGELOG.md
INSTALL.md
LICENSE
LICENSE-SnippetTemplate
MANIFEST.in
Makefile
README.md
netsquid.code-workspace
*.egg-info/
requirements.txt
setup.cfg
setup.py
test_requirements.txt
*.code-workspace
.bumpversion.cfg
.coveragerc
.flake8
.gitlab-ci.yml
